RewriteEngine on

# Custom error pages.
ErrorDocument 404 /errorpages/404.html
ErrorDocument 500 /errorpages/503.html

# Prevent viewing of htaccess file.
<Files .htaccess>
    order allow,deny
    deny from all
</Files>

Redirect 301 /old/ /index.html
Redirect 301 /beta/ /index.html
Redirect 301 /index.html home.html
# Prevent directory listings
Options All -Indexes
